[Desktop Entry]
Type=Application
Hidden=false
Terminal=true
Name=Display IP Address
Comment=Displays the Raspberry Pi's IP address on startup
Exec=/home/pi/.config/autostart/ipaddress.sh
X-KeepTerminal=true