[Desktop Entry]
Type=Application
Hidden=false
Terminal=true
Name=Display IP Addresses
Comment=Displays the Raspberry Pi's IP addresses on startup
Exec=/home/pi/.config/autostart/ipaddress.sh
X-KeepTerminal=true